.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-color: brown;
    grid-gap: 20px;
}
.box2{
    grid-column: 2/5;
    background-color: burlywood;
}
.box3{
    background-color: cadetblue;
}
.box4{
    background-color: chocolate;
}
.box5{
    background-color: darkblue;
}
.box6{
    background-color: darkcyan;
}
.box7{
    background-color: darkgoldenrod;
}